@import url(http://fonts.googleapis.com/css?family=Cutive|Oxygen:400,700);

body {
    line-height: 1.5;
    font-family: 'Oxygen', serif;
    color: #333333;
}

h1, h2, h3, h4, h5, h6, .heavy {
	font-family: 'Cutive', sans-serif;
	font-weight: bold;
}

form.dictionary_word {
  display: inline-block;
  margin-left: 5px;
  margin-bottom: 5px;
}

ul {
  border: 1px dashed gray;
  padding: 3px;
  margin: 0.25em;
}

div#stack {
  float: left;
}

div#dictionary {
  float: right;
  max-width: 68%;
}

div#interpreter {

}

